name: 2 - Continuous Delivery
run-name: "${{ github.workflow }}"

permissions: write-all

on:
  workflow_run:
    workflows: [ "1 - Continuous Integration" ]
    types: [ completed ]

  workflow_dispatch:
    inputs:
      trigger_reason:
        description: 'Reason for retraining'
        required: false
        default: 'manual'
        type: string

env:
  DOCKER_REGISTRY: ghcr.io
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  COMMIT_SHA: ${{ github.sha }}
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_MODEL_NAME: ${{ secrets.MODEL_NAME }}
  MLFLOW_EXPERIMENT_NAME: ${{ secrets.EXPERIMENT_NAME }}

jobs:
  train-model:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    timeout-minutes: 4320

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install DVC
        run: pip install dvc dvc-gdrive

      - name: Pull Data from DVC
        env:
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          # Create credentials file
          echo "$GDRIVE_CREDENTIALS_DATA" > dvc-gs-creds.json
          
          # Configure DVC
          dvc remote modify storage gdrive_use_service_account true
          dvc remote modify storage --local gdrive_service_account_json_file_path dvc-gs-creds.json
          
          # Pull data
          dvc pull
          
          # Cleanup
          rm dvc-gs-creds.json

      - name: Set lowercase image name
        id: image-name
        run: echo "IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Training Image
        id: pull-image
        run: |
          FULL_IMAGE_NAME="${{ env.DOCKER_REGISTRY }}/${{ steps.image-name.outputs.IMAGE_NAME }}-training"
          
          if docker pull "$FULL_IMAGE_NAME:${{ github.sha }}"; then
            echo "Successfully pulled SHA tag."
            echo "USED_TAG=${{ github.sha }}" >> $GITHUB_OUTPUT
          
          elif docker pull "$FULL_IMAGE_NAME:latest"; then
            echo "SHA tag failed. Successfully pulled 'latest' tag."
            echo "USED_TAG=latest" >> $GITHUB_OUTPUT
          
          else
            echo "Error: Could not pull SHA or latest tag."
            exit 1
          fi

      - name: Trigger Train
        run: |
          HOST_DATA_PATH="/home/admin/ml_data"
          
          docker stop training-container || true
          docker rm training-container || true
          docker run \
            -p 8080:8080 \
            --name training-container \
            --network mlops-net \
            -v "$(pwd)/training:/app/training" \
            -v "$(pwd)/testing:/app/testing" \
            -v "${HOST_DATA_PATH}:/mlflow" \
            -e COMMIT_SHA=${{ env.COMMIT_SHA }} \
            -e MLFLOW_TRACKING_URI=${{ env.MLFLOW_TRACKING_URI }} \
            -e MLFLOW_EXPERIMENT_NAME=${{ env.MLFLOW_EXPERIMENT_NAME }} \
            -e MLFLOW_MODEL_NAME=${{ env.MLFLOW_MODEL_NAME }} \
            ${{ env.DOCKER_REGISTRY }}/${{ steps.image-name.outputs.IMAGE_NAME }}-training:${{ steps.pull-image.outputs.USED_TAG }}