name: 2 - Continuous Delivery
run-name: "${{ github.workflow }}"

permissions: write-all

on:
  workflow_run:
    workflows: [ "1 - Continuous Integration" ]
    types: [ completed ]

    workflow_dispatch:

env:
  DOCKER_REGISTRY: ghcr.io
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  COMMIT_SHA: ${{ github.sha }}
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_MODEL_NAME: ${{ secrets.MODEL_NAME }}
  MLFLOW_EXPERIMENT_NAME: ${{ secrets.EXPERIMENT_NAME }}

jobs:
  train-model:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    timeout-minutes: 4320

    steps:
      - uses: actions/checkout@v5

      - name: Set lowercase image name
        id: image-name
        run: echo "IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Training Image
        run: |
          docker pull ${{ env.DOCKER_REGISTRY }}/${{ steps.image-name.outputs.IMAGE_NAME }}-training:${{ github.sha }}

      - name: Trigger Train
        run: |
          docker run -d \
            -p 8080:8080 \
            --name training-container \
            -e COMMIT_SHA=${{ env.COMMIT_SHA }} \
            -e MLFLOW_TRACKING_URI=${{ env.MLFLOW_TRACKING_URI }} \
            -e MLFLOW_EXPERIMENT_NAME=${{ env.MLFLOW_EXPERIMENT_NAME }} \
            -e MLFLOW_MODEL_NAME=${{ env.MLFLOW_MODEL_NAME }} \
            ${{ env.DOCKER_REGISTRY }}/${{ steps.image-name.outputs.IMAGE_NAME }}-training:${{ github.sha }}